# example.pcf
set_io --warn-no-port led[0] J11
set_io --warn-no-port led[1] K11
set_io --warn-no-port led[2] K12
set_io --warn-no-port led[3] K14
set_io --warn-no-port led[4] L12
set_io --warn-no-port led[5] L14
set_io --warn-no-port led[6] M12
set_io --warn-no-port led[7] N14
set_io --warn-no-port clk P7
set_io --warn-no-port rst P8